*.DS_Store
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
draft-palombini-ace-key-groupcomm.html
draft-palombini-ace-key-groupcomm.txt*.redxml
draft-palombini-ace-key-groupcomm.xml
issues.json
lib
lib/*
pulls.json
report.xml
venv/
venv/*
lib
draft-ietf-ace-key-groupcomm.xml
